<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evercheck.flagly.testsample">

    <application android:name=".TestApplication">
        <activity android:name="com.evercheck.flagly.developeroptions.FeatureFlagHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>